html,body,h1,h2,h3,h4,h4,p,div,a{
	margin:0;
	padding:0;
}

body{
	background:rgb(252,252,252);
}

html,body,h1,h2,h3,h4,h4,p,div,a{
	margin:0;
	padding:0;
}

body{
	background:rgb(252,252,252);
}

h1{ margin: 15px 0; }
h2 {margin: 10px 0 5px;}

.plot{
	min-height:300px;
	position:relative;
}
.control{
	height:100px;
	position:relative;
	padding:20px 100px 0;
}
	.control .navbar{background:white;}


/*Timeseries*/
.time-series .axis-y .tick line{
	display:none;
}
.time-series .axis-y .tick text{
	fill:rgb(120,120,120);
}
.time-series .axis .domain{ display:none; }